.chess-board {
    display: block;
    height: 600px;
    width: 600px;
}

.chess-tile {
    display: block;
    height: 75px;
    width: 75px;
    background-color: #4e6088;
}

.chess-row > .chess-tile:nth-child(2n+1) {
    background-color: #3b4d75;
}

.chess-row.invert > .chess-tile:nth-child(2n) {
    background-color: #3b4d75;
}

.chess-row.invert > .chess-tile:nth-child(2n+1) {
    background-color: #4e6088;
}

.chess-row {
    float: left;
}

.chess-tile {
    font-size: 50px;
    text-align: center;
}

.chess-piece {
    display: block;
    width: 75px;
    height: 75px;
}

.black {
    color: #111;
}

.white {
    color: #efefef;
}
