<!doctype html>
<html lang="en-gb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body>
<div id="app">
    <div class="chess-board">
        <div class="chess-row" :class="index % 2 == 0 ? 'invert' : ''" v-for="(row, index) in board">
            <div class="chess-tile" v-for="piece in row">
                <div class="chess-piece">
                    <i class="fas" :class="'fa-chess-' + piece.piece + ' ' + (piece.white ? 'white' : 'black')"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect();

    var app = new Vue({
        el: '#app',

        data: {
            title: 'This is weird.',
            board: [],
        },

        methods: {}
    });

    socket.on('load-board', function (data) {
        app.board = data.board;
    });
</script>
</html>
